@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&display=swap');

:root{
    /* COLORS */
    
    --primary-color:#474448;
    --second-color:#E0DDCF;
    --third-color:#2D232E;

    /* FONTS */
    --font-FiraCode: "Fira Code", serif;
    --font-Quicksand: "Quicksand", serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 50px;
    font-size: 16px;
    background-color: whitesmoke;
}
header{
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 10px;
}

.header__title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    font-family: var(--font-FiraCode);    
}

.container{
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}

.day-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
}

.day__title{
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: var(--font-FiraCode);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.day-2__input-content{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.day-2__input{
    font-family: var(--font-Quicksand);
    font-weight: 500;
    font-size: 1rem;
    background: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.day-2__input:focus{
    border: 1px solid var(--primary-color);
    outline: none;
}

.day-2__button{
    margin-left: 20px;
    padding: 10px;
    color: white;
    font-family: var(--font-FiraCode);
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
}

.day-2__button-content{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day-2__button--clean{
    background-color: var(--third-color);
}

.day-2__message--content{
    display: none;
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--second-color);
    border-radius: 5px;
}

.day-2__message--text{
    color: var(--third-color);
    font-family: var(--font-Quicksand);
    font-weight: 500;
    font-size: 1rem;
}


